body {
  font-family: Arial, sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0 10px;
  margin: 0;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid #999;
  padding: 3px 3px;
  width: 3em;
  color: #000;

  outline: none;
  -webkit-appearance: none;
  -webkit-focus-ring-color: rgba(0 0 0 0);
}
input[type="checkbox"] {
  vertical-align: middle;
}
#comment {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #000;
  position: absolute;
  right: 0px;
  top: -20px;
}
.left-panel {
  width: 200px;
  display: inline-block;
}
.right-panel {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  vertical-align: top;
}
.graphs-panel {
  width: 85%;
  display: inline-block;
}
.tools-panel {
  width: 180px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-top: 5px;
}
.full {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.tween {
  width: 100%;
}
.counter {
  color: #000;
  font-size: 1.1rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  padding: 0 5px;
}
.fakelink {
  font-size: 1.3rem;
  color: #ff9900;
  cursor: pointer;
}
.fakelink:hover {
  color: #888;
  color: #fbb90f;
}
.track-title {
  color: #000;
  font-size: 1.2rem;
  font-family: "Open Sans", Arial, sans-serif;
  padding-right: 10px;
  font-weight: 300;
  width: 122px;
  display: inline-block;
}
h3 {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 10px 0;
}
button {
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  border-style: solid;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, verdana, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 12px;
  margin: 0 5px 5px 0;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;

  outline: none;
  -webkit-appearance: none;
  /*-webkit-focus-ring-color:rgba(0 0 0 0);*/
  background: #ddd;
  background: #ff9900;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
}
button:hover {
  background: #bbb;
  background: #fbb90f;
}
button:active {
  background: #bbb;
  background: #fbb90f;
}
.text-button {
  font-size: 0.8rem;
}
label {
  display: inline-block;
  width: 4em;
}
label.cb {
  width: auto;
}

#btn-close {
  color: #999;
  position: absolute;
  right: 0px;
  top: 0px;
}

#btn-close i {
  font-size: 2rem;
}

#btn-close:hover {
  color: #666;
  cursor: pointer;
}

.left-right-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.left-right-counter-value {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000;
  text-align: center;
  width: 1rem;
  border: none;
}

#point_time,
#point_value {
  width: 7em;
}

.modal-box {
  position: fixed;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  width: 600px;
  /*height: 400px;*/
  margin-top: -200px;
  margin-left: -300px;
  box-sizing: border-box;
  padding: 10px;
}

.modal-content {
  background: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
}

.modal-lock {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: none;
}

#save_name,
#load_name {
  width: 200px;
}

.slcontainer {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.slcontainer.first {
  padding-right: 40px;
}
